<%= render 'shared/users', user: @user %>

<article>

    <div>
        <h1>Bio</h1>
        <p><%= @user.bio %></p>
    </div>
<% User.recent_posts(@user).each do |post| %>
    <div>
        <h1>post <%= post.title %></h1>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
    </div>
<%end%>
    

<a href="/users/<%= @user.id%>/posts" >See all Posts</a>
</article>