<%= render 'shared/user_profile', user: @user %>

<% @posts.each  do  |post|%>
<div>
    <a href="/users/<%= post.author_id%>/posts/<%= post.id %>"><%= post.title%></a>
        <p><%= post.text%></p>
        <p>
            Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter%>
        </p>
</div>
<div>
<% Post.recent_comments(post).each  do |comment|%>
    <p><%= comment.author.name%> - <%= comment.text %></p>
    <%end%>
</div>
<br />
<%end%>
<div id="bottom-button">
<button>Pagination</button>
</div>