<div class="show-posts-container">
  <div class="boxes">
    <div class="posts-content">
      <h1><%= @post.title%> by <%= @post.author.name%></h1>
      <p>
        Comments: <%= @post.comments_counter%> 
        Likes: <%= @post.likes_counter %>
      </p>
    </div>

    <p> <%= @post.text%></p>
  </div>

  <%= render 'shared/like' %>
    <button>
      <a class="comment-button" href=<%="/users/user_id/posts/#{@post.id}/comments/new"%>>Comment</a>
    </button>

  <div class="boxes posts-messages">
    <% @post.comments.each do |comment| %>
     <p><%= comment.author.name%>: <%= comment.text %></p>
    <%end%>
  </div>
</div>

<% if current_user == @post.author %>
  <%= button_to "Delete", post_path(@post), method: :delete %>
  <a href="/users/<%= post.author_id%>/posts/<%= post.id %>">
<% end %>
