<div class="show-posts-container">
  <div class="boxes">
    <div class="posts-content">
      <p><%= @post.title%> by <%= @post.author.name%></P>
      <p>Comments: <%= @post.comments_counter%> likes: <%= @post.likes_counter %></p>
    </div>

    <p> <%= @post.text%></p>
  </div>

  <%= render 'shared/like' %>
    <a href=<%="/users/user_id/posts/#{@post.id}/comments/new"%>>Comment</a>

  <div class="boxes posts-messages">
    <% @post.comments.each do |comment| %>
     <p><%= comment.author.name%>: <%= comment.text %></p>
    <%end%>
  </div>
</div>